{{define "footer"}}
    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Powered By <a href="https://golang.org">Go</a> -
            in {{.CurrentYear}}</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{{end}}